.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    margin: 75px;
    /* padding: 10px; */
  }
/*  .grid-item {
     padding: 10px;
     text-align: center;
  }*/