#mg{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  width: 370px;
  height: 370px;
}

.productcontainer {
  position: relative;
  width: 100%;
  max-width: 370px;
}

.productimage {
  display: block;
  width: 370px;
  height: 226px;
  border-radius: 30px;;
}

.productoverlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(255, 255, 255, 0.8); /* Black see-through */
  width: 100%;
  transition: .5s ease;
  opacity:0;
  height: min-content;
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.productcontainer:hover .productoverlay {
  opacity: 1;
} 

#dateButton{
  background-color:#446D04;
  color: white;
  border-radius: 7px;
  margin-left: 15px;
  margin-bottom: 7px;
  width: 33px;
  height: 30px;
  border: none;
}

#dateButton2{
  width: 130px;
  height: 25px;
  left: 290px;
  top: 406px;
  margin-bottom: 7px;
  margin-left: 15px;
  background: #446D04;
  border-radius: 7px;
  color: white;
  border: none;
}

#dateButton3{
width: 142.37px;
height: 29px;
left: 153px;
top: 446px;
margin-left: 15px;
margin-bottom: 10px;
background: #84C327;
border-radius: 7px;
color: white;
border: none
}

#productTitle{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;
color: #000000;
display: flex;
justify-content: space-between;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 5px;
}

#productDescription{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: #000000;
margin-left: 20px;
margin-right: 20px;
}