#mainbody{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    width: 370px;
    height: 226px;
}
#imagetag{
    width: 370px;
    height: 226px;
    border-radius: 30px;
}
#productTitle{
    font-size: 22px;
    line-height: 27px;
    display: flex;
    justify-content:space-between;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
}

#productDescription{
    font-size: 16px;
    line-height: 19px;
    padding: 30px;
    padding-top: 10px;
}

