#mg{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  width: 370px;
  height: 400px;
}

.productcontainer {
  position: relative;
  width: 100%;
  max-width: 370px;
}

.productimage {
  display: block;
  width: 370px;
  height: 226px;
}

.productoverlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  transition: .5s ease;
  opacity:0;
  height: min-content;
}

.productcontainer:hover .productoverlay {
  opacity: 1;
} 
